
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100vw;
    height: 100vh;
    background-color: #7373c7;
    color: white;
    text-align: center;

    h1 {
        font-size: 50px;
    }

    .game-body{
        font-family: 'Courier New', Courier, monospace;
        height: 90%;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        input {
            padding: 10px 20px;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            font-weight: bold;
            border-radius: 5px;
            color:#3f3f3f;
            
        }
        
        span {
            font-weight: bold;
            color: #ec7575;
        }

        #reset {
            width: 30%;
        }

        img { 
            display: flex;
            height: 75px;
            width: 75px;
            background-position: left;
        }  

        .success {
            background-color: green;

        }

        .error {
            background-color: red;
        }
        .underscore {
            display: inline-block;
            margin: 5px;
            
        }
    }
}